 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Telling the world about your congregation or ministry has never been easier. With Open Church you have all the tools you need to publish a professional website in a matter of minutes. With Open Church updating content is easy since it’s built on top of the popular Content Management System Drupal!</p>
                </div>
                <div class="col-lg-4">
                    <p>It’s “Open!”. What that means to your church or ministry is that you are no longer tied to one development firm. Drupal is an open platform that is commonly used by thousands of developers. This means it’s easy to add new features, many already available, that you are looking for without having to pay hefty custom development fees.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="http://drupal.org/project/openchurch" target="_blank" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download OpenChurch
                    </a>
                </div>
            </div>
        </div>
    </section>