 <!-- Hosting Section -->
    <section class="secondary" id="hosting">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Hosting</h2>
                    <hr class="star-secondary">
                </div>
            </div>
            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-6">
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h4 class="text-center">Budget Hosting</h4>
                  </div>
                  <div class="panel-body text-center">
                    <p class="lead">
                      <strong>$8 / month</strong>
                    </p>
                  </div>
                  <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item">
                      Every New Site Install Guaranteed To Work!
                      <i class="fa fa-check pull-right"></i>
                    </li>
                    <li class="list-group-item">
                      Same-Day Setup On Most Systems
                      <i class="fa fa-check pull-right"></i>
                    </li>
                    <li class="list-group-item">
                      30 day free trial
                      <i class="fa fa-check pull-right"></i>
                    </li>
                    <li class="list-group-item">
                      <a href="#hostingModal-budget" data-toggle="modal"><em>Click Here For The Full Feature List &raquo;</em></a>
                    </li>
                  </ul>
                  <div class="panel-footer">
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                      <input type="hidden" name="cmd" value="_s-xclick">
                      <input type="hidden" name="hosted_button_id" value="SZ5VSS6VQBGE4">
                      <table>
                        <tr><td><input type="hidden" name="on0" value="Payment options">Payment options</td></tr><tr><td><select name="os0">
                        <option value="Monthly">Monthly : $8.00 USD - monthly</option>
                        <option value="Yearly (10% off)">Yearly (10% off) : $87.00 USD - yearly</option>
                      </select> </td></tr>
                        <tr><td><input type="hidden" name="on1" value="Website name">Website name</td></tr><tr><td><input type="text" name="os1" maxlength="200"></td></tr>
                        <tr><td><input type="hidden" name="on2" value="Organization">Organization</td></tr><tr><td><input type="text" name="os2" maxlength="200"></td></tr>
                      </table>
                      <input type="hidden" name="currency_code" value="USD">
                      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>
                  </div>
                </div>
              </div>
              <div class="col-md-3"></div>
            </div>
        </div>
    </section>
   <div class="portfolio-modal hosting-modal modal fade" id="hostingModal-premium" tabindex="-1" role="dialog" aria-hidden="true">
     <div class="modal-content">
       <div class="close-modal" data-dismiss="modal">
         <div class="lr">
           <div class="rl">
           </div>
         </div>
       </div>
       <div class="container">
         <div class="row">
           <div class="col-lg-8 col-lg-offset-2">
             <div class="modal-body">
               <h2>Premium Hosting Features</h2>
               <hr class="star-primary">
               <h3>Technical Hosting Specs for OpenChurch Premium Hosting</h3>
               <ul>
                 <li>Ability to auto-scale up to 8 GB Fast DDR3 RAM and 4 CPU real cores for short load peaks.</li>
                 <li>Dual Gigabit Network.</li>
                 <li>Magic Speed Booster cache, working like a Boost + AuthCache, but per logged in user!</li>
                 <li>Built-in collection of useful modules available in all platforms.</li>
                 <li>Every-minute uptime/self-healing monitoring.</li>
                 <li>Firewall csf/lfd integrated with Nginx abuse guard.</li>
                 <li>Automatic, versioned, daily R1Soft backups for all databases and files.</li>
                 <li>Ksplice rebootless kernel updates on all Cores, excluding older VServer instances.</li>
                 <li>Daily system security updates (OS, web server, database server etc.)</li>
                 <li>PHP-FPM 5.2.17 with APC, Memcached, UploadProgress, ImageMagick, Suhosin and ionCube.</li>
                 <li>PHP memory limit 256 MB for web access and 512 MB for CLI.</li>
                 <li>PHP max execution/input time 300s for web access and 900s for CLI.</li>
                 <li>PHP upload/post limit 100 MB.</li>
                 <li>Percona 5.5 DB server - smokin' fast!</li>
                 <li>Up to 256 MB of database space (soft cap)</li>
                 <li>Up to 1 GB SSD disk space (SSD is 10x faster than traditional hard disk)</li>
                 <li>50 GB web in/out traffic generated monthly (soft cap)</li>
                 <li>SSH/FTPS access (limited shell with access to sites folder)</li>
                 <li>Drush access</li>
               </ul>
               <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
   <div class="portfolio-modal hosting-modal modal fade" id="hostingModal-budget" tabindex="-1" role="dialog" aria-hidden="true">
     <div class="modal-content">
       <div class="close-modal" data-dismiss="modal">
         <div class="lr">
           <div class="rl">
           </div>
         </div>
       </div>
       <div class="container">
         <div class="row">
           <div class="col-lg-8 col-lg-offset-2">
             <div class="modal-body">
               <h2>Budget Hosting Features</h2>
               <hr class="star-primary">
               <h3>Technical Hosting Specs for OpenChurch Budget Hosting</h3>
               <ul>
                 <li>Guaranteed OpenChurch installation, you will get the latest stable release when you signup
                   <ul>
                     <li>Other cheap hosts may not be properly configured to run Drupal distributions like OpenChurch</li>
                     <li>If you would like to have access to free platform upgrades, see our <a href="/hosting">Premium Hosting plan</a></li>
                   </ul>
                 </li>
                 <li>Optimized for <a href="http://drupal.org/project/drupal" target="_blank">Drupal</a></li>
                 <li>SSH/FTP access</li>
                 <li><a href="http://drupal.org/project/drush" target="_blank">Drush</a> access</li>
                 <li>Manage your database with <a href="http://www.phpmyadmin.net/" target="_blank">phpMyAdmin</a></li>
                 <li>300MB Guaranteed memory</li>
                 <li>600MB Burst memory</li>
                 <li>Up to 1GB disk space</li>
               </ul>
               <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>