 <!-- Hosting Section -->
    <section class="secondary" id="hosting">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Hosting</h2>
                    <hr class="star-secondary">
                </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h4 class="text-center">Premium Hosting</h4>
                  </div>
                  <div class="panel-body text-center">
                    <p class="lead">
                      <strong>$35 / month</strong>
                    </p>
                  </div>
                  <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item">
                      Same-Day Setup On Most Systems
                      <i class="fa fa-check pull-right"></i>
                    </li>
                    <li class="list-group-item">
                      Highly Tuned For Drupal Performance
                      <i class="fa fa-check pull-right"></i>
                    </li>
                    <li class="list-group-item">
                      No Vendor Lock-In!
                      <i class="fa fa-check pull-right"></i>
                    </li>
                  </ul>
                  <div class="panel-footer">
                    <a class="btn btn-lg btn-block btn-info">Sign up for Premium Hosting</a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h4 class="text-center">Budget Hosting</h4>
                  </div>
                  <div class="panel-body text-center">
                    <p class="lead">
                      <strong>$8 / month</strong>
                    </p>
                  </div>
                  <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item">
                      Every New Site Install Guaranteed To Work!
                      <i class="fa fa-check pull-right"></i>
                    </li>
                    <li class="list-group-item">
                      Same-Day Setup On Most Systems
                      <i class="fa fa-check pull-right"></i>
                    </li>
                    <li class="list-group-item">
                      No Vendor Lock-In!
                      <i class="fa fa-check pull-right"></i>
                    </li>
                  </ul>
                  <div class="panel-footer">
                    <a class="btn btn-lg btn-block btn-info">Sign Up for Budget Hosting</a>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </section>